.showContainer {  
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    
  }

  .showImage{
    
  height: 500px;
  overflow-y: scroll;
  }
 