.showContainer {  
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    
  }

  .userShowImage{
   
  height: 700px;
  overflow-y: scroll;
  }